<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <!-- Specifies that Node.js is used to run *.js files -->
      <add name="iisnode" path="index.js" verb="*" modules="iisnode"/>
    </handlers>
    <rewrite>
      <!-- Redirect all requests to the app entry point (server.js) -->
      <rules>
        <rule name="StaticContent">
          <action type="Rewrite" url="public{REQUEST_URI}"/>
        </rule>
        <rule name="DynamicContent" stopProcessing="true">
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
          </conditions>
          <action type="Rewrite" url="index.js"/>
        </rule>
      </rules>
    </rewrite>
    <security>
      <requestFiltering>
        <!-- Allow file uploads up to 100MB -->
        <requestLimits maxAllowedContentLength="104857600"/>
      </requestFiltering>
    </security>
    <!-- Set Node.js log file to stdout -->
    <iisnode loggingEnabled="true" devErrorsEnabled="true"/>
  </system.webServer>
</configuration>
